<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Email List</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://kit.fontawesome.com/531bff1fdd.js" crossorigin="anonymous"></script>
</head>
<body>
    <div id="app">

        <ul v-if="emailList.length > 9">
            <li v-for="(emails, i) in emailList">
                {{emails}}
            </li>
        </ul>
        <div v-else>
            <i class="fa-solid fa-spinner fa-spin"></i>
        </div>


    </div>
    <script src="./js/app.js"></script>
</body>
</html>